name: Release

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-release-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper
          cache-read-only: false

      - name: Create secrets.properties
        run: |
          echo "BACKEND_BASE_URL=${{ secrets.BACKEND_BASE_URL }}" >> secrets.properties
          echo "GOOGLE_BOOKS_SCOPE=${{ secrets.GOOGLE_BOOKS_SCOPE }}" >> secrets.properties
          echo "GOOGLE_SERVER_CLIENT_ID=${{ secrets.GOOGLE_SERVER_CLIENT_ID }}" >> secrets.properties

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Set up Keystore
        run: |
          sudo apt update -y || true
          sudo apt install -y --no-install-recommends coreutils
          mkdir -p $RUNNER_TEMP/keystores
          echo "${{ secrets.KEYSTORE_FILE }}" | base64 --decode > $RUNNER_TEMP/keystores/keystore.jks

      - name: Sign APK
        run: |
          ANDROID_SDK_PATH=$ANDROID_HOME/build-tools/36.0.0/apksigner
          $ANDROID_SDK_PATH sign \
            --ks $RUNNER_TEMP/keystores/keystore.jks \
            --ks-key-alias ${{ secrets.KEY_ALIAS }} \
            --ks-pass pass:${{ secrets.KEYSTORE_PASSWORD }} \
            --key-pass pass:${{ secrets.KEY_PASSWORD }} \
            --v1-signing-enabled true \
            --v2-signing-enabled true \
            --v3-signing-enabled true \
            --out mobile-library.apk \
            app/build/outputs/apk/release/app-release-unsigned.apk

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk-artifact
          path: mobile-library.apk

  create-release:
    needs: [ build-release-apk ]
    runs-on: ubuntu-latest
    steps:
      - name: Download APK Artifact
        uses: actions/download-artifact@v4
        with:
          name: release-apk-artifact

      - name: Create Release and Upload APK
        uses: softprops/action-gh-release@v2
        with:
          files: mobile-library.apk
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}