name: UpdateScreenshots

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper
          cache-read-only: false

      - name: Record New Screenshots
        run: ./gradlew recordRoborazziDebug

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: '*/*.png'
          commit_message: "Update screenshots [skip ci]"